In [24]:
import json
import sqlparse
from sqlparse.sql import IdentifierList, Identifier
from sqlparse.tokens import Keyword, DML
import random

# Load the JSON files
with open('train.json') as f:
	train_data = json.load(f)

with open('train_tables.json') as f:
	train_tables = json.load(f)

# Function to check if a parsed token is a subselect
def is_subselect(parsed):
	if not parsed.is_group:
		return False
	for item in parsed.tokens:
		if item.ttype is DML and item.value.upper() == 'SELECT':
			return True
	return False

# Function to extract the FROM part of a SQL statement
def extract_from_part(parsed):
	from_seen = False
	for item in parsed.tokens:
		if from_seen:
			if is_subselect(item):
				for x in extract_from_part(item):
					yield x
			elif item.ttype is Keyword:
				return
			else:
				yield item
		elif item.ttype is Keyword and item.value.upper() == 'FROM':
			from_seen = True

# Function to extract table identifiers from a token stream
def extract_table_identifiers(token_stream):
	for token in token_stream:
		if isinstance(token, IdentifierList):
			for identifier in token.get_identifiers():
				yield identifier.get_real_name()
		elif isinstance(token, Identifier):
			yield token.get_real_name()

# Function to extract table names from a SQL query
def extract_tables(sql):
	parsed = sqlparse.parse(sql)
	for stmt in parsed:
		if stmt.get_type() == 'SELECT':
			stream = extract_from_part(stmt)
			return list(extract_table_identifiers(stream))

# Function to extract column names from a SQL query
def extract_column_names(sql):
	column_names = []
	parsed = sqlparse.parse(sql)
	for stmt in parsed:
		if stmt.get_type() == 'SELECT':
			for token in stmt.tokens:
				if isinstance(token, IdentifierList):
					for identifier in token.get_identifiers():
						column_names.append(identifier.get_real_name())
				elif isinstance(token, Identifier):
					column_names.append(token.get_real_name())
	return column_names

# Randomly select 20 SQL queries from the dataset
random_sql_queries = random.sample(train_data, 20)

# Extract and print tables and columns for each selected query
for i, data in enumerate(random_sql_queries):
	sql_query = data["SQL"]
	tables = extract_tables(sql_query)
	columns = extract_column_names(sql_query)
	print(f"SQL Query {i+1}:")
	print(sql_query)
	print("Tables:", tables)
	print("Columns:", columns)
	print("-" * 50)

SQL Query 1:
SELECT SUM(T2.Value) FROM Country AS T1 INNER JOIN Indicators AS T2 ON T1.CountryCode = T2.CountryCode WHERE T1.IncomeGroup LIKE '%middle income' AND T2.Year = 1960 AND T2.IndicatorName = 'Urban population'
Tables: ['Country']
Columns: ['Country', 'Indicators']
--------------------------------------------------
SQL Query 2:
SELECT `Sales Channel` FROM `Sales Orders` WHERE OrderDate LIKE '1/%/20' GROUP BY `Sales Channel` ORDER BY COUNT(`Sales Channel`) DESC LIMIT 1
Tables: ['Sales Orders']
Columns: ['Sales Channel', 'Sales Orders', 'Sales Channel']
--------------------------------------------------
SQL Query 3:
SELECT T3.`Sales Team`, T1.`City Name` FROM `Store Locations` AS T1 INNER JOIN `Sales Orders` AS T2 ON T2._StoreID = T1.StoreID INNER JOIN `Sales Team` AS T3 ON T3.SalesTeamID = T2._SalesTeamID WHERE T2.OrderNumber = 'SO - 0001004'
Tables: ['Store Locations']
Columns: ['Sales Team', 'City Name', 'Store Locations', 'Sales Orders', 'Sales Team']
--------------------------------------------------
SQL Query 4:
SELECT COUNT(business_id) FROM businesses WHERE STRFTIME('%Y', application_date) = '2012'
Tables: ['businesses']
Columns: ['businesses']
--------------------------------------------------
SQL Query 5:
SELECT COUNT(T1.movieid) FROM movies2directors AS T1 INNER JOIN movies AS T2 ON T1.movieid = T2.movieid WHERE T2.country = 'France' AND T1.genre = 'drama'
Tables: ['movies2directors']
Columns: ['movies2directors', 'movies']
--------------------------------------------------
SQL Query 6:
SELECT BrandName FROM rootbeerbrand WHERE FirstBrewedYear BETWEEN '1996' AND '2000' ORDER BY FirstBrewedYear DESC
Tables: ['rootbeerbrand']
Columns: ['BrandName', 'rootbeerbrand', 'FirstBrewedYear']
--------------------------------------------------
SQL Query 7:
SELECT T2.person_id FROM Vote AS T1 INNER JOIN Award AS T2 ON T1.episode_id = T2.episode_id ORDER BY T1.percent DESC LIMIT 1
Tables: ['Vote']
Columns: ['person_id', 'Vote', 'Award', 'percent']
--------------------------------------------------
SQL Query 8:
SELECT CAST(SUM(CASE WHEN result = 'Winner' THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(award) AS rate FROM Award;
Tables: ['Award']
Columns: ['rate', 'Award']
--------------------------------------------------
SQL Query 9:
SELECT T.name FROM ( SELECT T1.name, COUNT(T1.organ) AS num FROM enlist AS T1 INNER JOIN enrolled AS T2 ON T1.name = T2.name GROUP BY T1.name ) T WHERE T.num = 2
Tables: ['T']
Columns: ['name', 'T']
--------------------------------------------------
SQL Query 10:
SELECT SUM(CASE WHEN city = 'San Francisco' AND SUBSTR(installation_date, -4) = '2014' THEN 1 ELSE 0 END) FROM station
Tables: ['station']
Columns: ['station']
--------------------------------------------------
SQL Query 11:
SELECT COUNT(ProductID) FROM Products WHERE ProductID < 15 AND Price <= 10
Tables: ['Products']
Columns: ['Products']
--------------------------------------------------
SQL Query 12:
SELECT T2.last_name, T1.subject_statuses FROM incidents AS T1 INNER JOIN officers AS T2 ON T1.case_number = T2.case_number WHERE T1.case_number = '134472-2015'
Tables: ['incidents']
Columns: ['last_name', 'subject_statuses', 'incidents', 'officers']
--------------------------------------------------
SQL Query 13:
SELECT T FROM ( SELECT DISTINCT CASE WHEN chronname = 'Rensselaer Polytechnic Institute' THEN city ELSE NULL END AS T FROM institution_details ) WHERE T IS NOT NULL
Tables: ['institution_details']
Columns: ['T']
--------------------------------------------------
SQL Query 14:
SELECT T2.FirstName, T2.MiddleName, T2.LastName FROM SalesPerson AS T1 INNER JOIN Person AS T2 ON T1.BusinessEntityID = T2.BusinessEntityID ORDER BY T1.SalesYTD DESC LIMIT 1
Tables: ['SalesPerson']
Columns: ['FirstName', 'MiddleName', 'LastName', 'SalesPerson', 'Person', 'SalesYTD']
--------------------------------------------------
SQL Query 15:
SELECT COUNT(T1.name) , SUM(CASE WHEN T2.subscription_type = 'Customer' THEN 1 ELSE 0 END) FROM station AS T1 INNER JOIN trip AS T2 ON T2.start_station_name = T1.name WHERE T1.installation_date = '8/16/2013' AND T2.subscription_type = 'Customer'
Tables: ['station']
Columns: ['COUNT', 'SUM', 'station', 'trip']
--------------------------------------------------
SQL Query 16:
SELECT COUNT(GeneID) FROM Classification WHERE Localization IN ('plasma', 'nucleus')
Tables: ['Classification']
Columns: ['Classification']
--------------------------------------------------
SQL Query 17:
SELECT T2.INCOME_K, T2.INHABITANTS_K * T2.INCOME_K * 12 FROM Customers AS T1 INNER JOIN Demog AS T2 ON T1.GEOID = T2.GEOID WHERE T1.ID = 209556 OR T1.ID = 290135
Tables: ['Customers']
Columns: ['INCOME_K', None, 'Customers', 'Demog']
--------------------------------------------------
SQL Query 18:
SELECT T.first_name, T.last_name FROM ( SELECT T2.first_name, T2.last_name, T2.teachingability FROM RA AS T1 INNER JOIN prof AS T2 ON T1.prof_id = T2.prof_id GROUP BY T1.prof_id HAVING COUNT(student_id) > 2 ) T ORDER BY T.teachingability DESC LIMIT 1
Tables: ['T']
Columns: ['first_name', 'last_name', 'T', 'teachingability']
--------------------------------------------------
SQL Query 19:
SELECT title FROM film WHERE rating = 'NC-17'
Tables: ['film']
Columns: ['title', 'film']
--------------------------------------------------
SQL Query 20:
SELECT IMG_ID FROM IMG_OBJ GROUP BY IMG_ID ORDER BY COUNT(OBJ_SAMPLE_ID) DESC LIMIT 1
Tables: ['IMG_OBJ']
Columns: ['IMG_ID', 'IMG_OBJ', 'IMG_ID']
--------------------------------------------------

In [88]:
import json
import sqlparse
from sqlparse.sql import IdentifierList, Identifier, Comparison, Where, Function, Parenthesis
from sqlparse.tokens import Keyword, DML, Name, String, Number, Whitespace
import re

# Load the JSON files
with open('train.json') as f:
	train_data = json.load(f)

with open('train_tables.json') as f:
	train_tables = json.load(f)

# List of SQL keywords
keywords_main_body = {'SELECT', 'FROM', 'WHERE', 'AND', 'OR', 'NOT', 'IN', 'EXISTS', 'IS', 'NULL', 'IIF', 'CASE', 'WHEN'}
keywords_join = {'INNER JOIN', 'LEFT JOIN', 'ON', 'AS'}
keywords_clause = {'BETWEEN', 'LIKE', 'LIMIT', 'ORDER BY', 'ASC', 'DESC', 'GROUP BY', 'HAVING', 'UNION', 'ALL', 'EXCEPT', 'PARTITION BY', 'OVER'}
keywords_aggregation = {'AVG', 'COUNT', 'MAX', 'MIN', 'ROUND', 'SUM'}
keywords_scalar = {'ABS', 'LENGTH', 'STRFTIME', 'JULIADAY', 'NOW', 'CAST', 'SUBSTR', 'INSTR'}
keywords_comparison = {'=', '>', '<', '>=', '<=', '!=', '<>'}
keywords_computing = {'-', '+', '*', '/'}

all_keywords = keywords_main_body | keywords_join | keywords_clause | keywords_aggregation | keywords_scalar | keywords_comparison | keywords_computing

def get_id(entity_type):
	if entity_type == 'Alias':
		return '<extra_id_0>'
	elif entity_type == 'Table':
		return '<extra_id_1>'
	elif entity_type == 'Column':
		return '<extra_id_2>'
	elif entity_type == 'Value':
		return '<extra_id_3>'
	
# Function to extract entities and process the SQL query
def extract_entities(sql):
	parsed = sqlparse.parse(sql)[0]
	entities = []
	processed_tokens = []

	def process_token(token):
		print("Processing token:",token)
		nonlocal processed_tokens

		if token.ttype in (Whitespace, Keyword.DML, Keyword):
			print(token,"is a whitespace/DML/Keyword, appending to result\n")
			processed_tokens.append(token.value)
		elif isinstance(token, Identifier):
			print(token,"is an Identifier (type=",token.ttype,")")
			if token.ttype in (Name, String, Number):
				print(token,"is a Name/String/Number")
				entity_value = token.value
				entity_type = 'Value'
				entity_id = get_id(entity_type)
				entities.append((entity_value, entity_type, entity_id))
				processed_tokens.append(entity_id)
			elif re.search(r'T\d+\..*', token.value):
				print(token,"is an Alias/Column pair T*.*")
				# match the T*.* pattern
				entitiy_split = token.value.split(".")
				entity_1_name = entitiy_split[0]
				entity_2_name = entitiy_split[1]
				entity_1_type = 'Alias'
				entity_2_type = 'Column'
				entity_1_id = get_id(entity_1_type)
				entity_2_id = get_id(entity_2_type)
				entities.append((entity_1_name, entity_1_type, entity_1_id))
				entities.append((entity_2_name, entity_2_type, entity_2_id))
				processed_tokens.append(entity_1_id)
				processed_tokens.append(".")
				processed_tokens.append(entity_2_id)
			else:
				print(token,"is a Column")
				entity_value = token.value
				entity_type = 'Column'
				entity_id = get_id(entity_type)
				entities.append((entity_value, entity_type, entity_id))
				processed_tokens.append(entity_id)
		elif isinstance(token, IdentifierList):
			print(token,"is in IdentifierList")
			for identifier in token.get_identifiers():
				process_token(identifier)
		elif isinstance(token, Comparison):
			print(token,"is a comparison token")
			for sub_token in token.tokens:
				process_token(sub_token)
		elif isinstance(token, (Function, Parenthesis, Where)):
			print(token,"is a function/parenthesis/Where")
			for sub_token in token.tokens:
				process_token(sub_token)
		else:
			print(token,"is unknown. Appending to result")
			processed_tokens.append(token.value)

	for token in parsed.tokens:
		process_token(token)
	# Combine Tokens
	processed_sql = ''.join(processed_tokens)
	return entities, processed_sql

# Randomly select 20 SQL queries from the dataset
sample = [train_data[i] for i in [0]]

# Extract entity and print results
for i, data in enumerate(sample):
	sql_query = data["SQL"]
	print(f"SQL Query {i+1}:")
	print(sql_query+"\n")
	entities, processed_sql = extract_entities(sql_query)

	# Entity Table
	headers = ["Entity", "Type", "ID"]
	print(f"{headers[0]:<20} {headers[1]:<20} {headers[2]:<20}")
	# Sort
	entities = sorted(entities, key=lambda x: x[2])
	for entity in entities:
		print(f"{entity[0]:<20} {entity[1]:<20} {entity[2]:<20}")
	# Masked SQL
	print("\nMasked SQL:")
	print(processed_sql)
	print("-" * 50)

SQL Query 1:
SELECT movie_title FROM movies WHERE movie_release_year = 1945 ORDER BY movie_popularity DESC LIMIT 1

Processing token: SELECT
SELECT is a whitespace/DML/Keyword, appending to result

Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: movie_title
movie_title is an Identifier (type= None )
movie_title is a Column
Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: FROM
FROM is a whitespace/DML/Keyword, appending to result

Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: movies
movies is an Identifier (type= None )
movies is a Column
Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: WHERE movie_release_year = 1945
WHERE movie_release_year = 1945  is a function/parenthesis/Where
Processing token: WHERE
WHERE is a whitespace/DML/Keyword, appending to result

Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: movie_release_year = 1945
movie_release_year = 1945 is a comparison token
Processing token: movie_release_year
movie_release_year is an Identifier (type= None )
movie_release_year is a Column
Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: =
= is unknown. Appending to result
Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: 1945
1945 is unknown. Appending to result
Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: ORDER BY
ORDER BY is a whitespace/DML/Keyword, appending to result

Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: movie_popularity DESC
movie_popularity DESC is an Identifier (type= None )
movie_popularity DESC is a Column
Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: LIMIT
LIMIT is a whitespace/DML/Keyword, appending to result

Processing token:
  is a whitespace/DML/Keyword, appending to result

Processing token: 1
1 is unknown. Appending to result
Entity               Type                 ID
movie_title          Column               <extra_id_2>
movies               Column               <extra_id_2>
movie_release_year   Column               <extra_id_2>
movie_popularity DESC Column               <extra_id_2>

Masked SQL:
SELECT <extra_id_2> FROM <extra_id_2> WHERE <extra_id_2> = 1945 ORDER BY <extra_id_2> LIMIT 1
--------------------------------------------------

In [76]:
with open('train.json') as f:
	train_data = json.load(f)
	
sql=train_data[15]["SQL"]
print(sql)
parsed = sqlparse.parse(sql)[0]

for token in parsed.tokens:
	print("token",token,"type",token.ttype,)
a1=parsed.tokens[8].tokens[2].tokens[4].ttype
a2=sqlparse.tokens.String
print("TARGET",parsed.tokens[8].tokens[2].tokens[4].ttype)
print(a1 in a2)

SELECT director_name FROM movies WHERE movie_title = 'Sex, Drink and Bloodshed'
token SELECT type Token.Keyword.DML
token   type Token.Text.Whitespace
token director_name type None
token   type Token.Text.Whitespace
token FROM type Token.Keyword
token   type Token.Text.Whitespace
token movies type None
token   type Token.Text.Whitespace
token WHERE movie_title = 'Sex, Drink and Bloodshed' type None
TARGET Token.Literal.String.Single
True